.btn {
    padding: 1rem;
}

.btn--primary {
    @extend .btn;
    background-color: $white;
    color: $red;
    font-family: $primaryFontFamily;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .2s;

    &:hover {
        background-color: $darkred;
        color: $white;
    }
}