@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$red: #ea4e55;
$darkred: #ac373c;

$black: #000;
$white: #fff;

$mainThemeColor: $red;
$secondaryThemeColor: $darkred;

$mainFontFamily: 'Montserrat', sans-serif;
$primaryFontFamily: $mainFontFamily, Arial, sans-serif;

$bodyFontSize: 1rem;
$bigFontSize: 1.5rem;
$mediumFontSize: 1.2rem;
$smallFontSize: .8rem;